<div class="sidebar-module sidebar-module-inset">
	<h4>使用说明</h4>
	<p>
		<%= msg %>
	</p>
</div>
<div class="sidebar-module">
	<h4>内部导航</h4>
	<ol class="list-unstyled">
		<li><a href="/autoIndex">接入站点</a></li>
		<li><a href="/autoCreate">新建测试</a></li>
		<li><a href="/autoHistory">测试记录</a></li>           
	</ol>
</div>
<div class="sidebar-module">
	<h4>外部导航</h4>
	<ol class="list-unstyled">
		<li><a href="/index">自动化测试</a></li>
		<li><a href="/index">性能监控</a></li>
		<li><a href="/index">数据埋点分析</a></li>           
	</ol>
</div>